transformers==4.31.0 
sentence-transformers==2.2.2 
pinecone-client==2.2.2 
datasets==2.14.0 
accelerate==0.21.0 
einops==0.6.1 
pydantic==2.5.3
langchain==0.0.240 
xformers==0.0.20 
bitsandbytes==0.41.0
llama-index==0.9.22
PyMuPDF==1.23.8
PyMuPDFb==1.23.7
openpyxl==3.0.10
torch==1.13.0
torchaudio==0.13.0
torchaudio==0.14.0
chromadb==0.4.21
chromadb-client==0.4.19





